.left-section {
    padding: 0px 32px;
    background: #F6F6F6;
    height: 100vh;

    .bawag-text {
        color: #990000;
        margin-top: 4%;
    }

    .section-title {
        margin-top: 6%;    
    }
    .search-box {
        margin-top: 6%;
        .search-icon {
            position: absolute;
            top: 19.9%;
            right: 12%;
            cursor: pointer;
            color: #990000;
        }
    }
    .text-area {
        margin-top: 6%;
        border: 1px solid #75B8D9;
        padding: 12px;
    }
    .list-data {
        max-height: 60vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .branch-list {
        margin-top: 6%;
        background: #FFFFFF;
        border-radius: 3px;
        padding: 12px;
        list-style-type: none;
    }
    .heading {
        font-weight: 700;
    }
    .list-count {
        margin-top: 6%;
    }
    .filter-heading {
        padding-top: 12%;
        i {
            padding-top: 4%; 
        }
    }
    .accordion-filial {
        margin-top: 6.5%;
    }
    .service-list {
        margin-top: 6%;
    }
    .accordion-body {
        background: #F6F6F6;
    }
    .accordion-button{
        background: #F6F6F6;
        color: black;
        &:hover, &:focus {
            background: #F6F6F6;
            border-color: unset;
            color: black;
        }
    }
    .walk-icon {
        width: 14%;
    }
    footer {
        background: white;
        position: fixed;
        height: 8%;
        bottom: 0%;
        left: 0%;
        width: 100%;
        padding: 10px 32px;
        z-index: 2;
    }
    .filter-active {
        color: #990000;
    }
    // .selected-store-list {
    //     max-height: 54vh;
    //     overflow-y: scroll;
    // }
    .selected-store {
        margin-top: 6%;
        background: #FFFFFF;
        border-radius: 3px;
        padding: 12px;
        list-style-type: none;
    }
    .filialFinder-btn-1 {
        background: unset;
        color: #990000;
        border-radius: 14px;
        border-color: #990000;
    }
    .detail-page-buttons {
        margin-top: 8%;
    }
    .detail-page-nav {
        margin-top: 8%;
    }
    .store-details-parent {
        max-height: 43vh;
        overflow-y: scroll;
        margin-top: 5%;
    }
    .store-details {
        margin-top: 6%;
        background: #FFFFFF;
        padding: 12px;
    }
    .ng-select ::ng-deep .ng-arrow {
        display: none;
    }
    .text-orange {
        color: #FC4C02;
    }
    .text-red {
        color: #E20F00;
    }
    .text-green {
        color: #428500;
    }
}

@media (min-width: 768px) {
    .left-section {
        .list-data {
            max-height: 66vh;
        }
        footer {
            width: 25%;
        }
        .store-details-parent {
            max-height: 52vh;
        }
    }
}