<div class="left-section">
    <div *ngIf="!isOpenFilter && !navigateToDetailPage">
        <div class="row">
            <img class="col-3" src="../../../../assets/bawag_logo.png">
            <span class="offset-4 col-5 text-end bawag-text">bawag.at
            <a><img src="../../../../assets/navigator.png"></a>
            </span>
        </div>
        <div class="section-title">
            <h3>Filialfinder</h3>
        </div>
        <div class="search-box">
            <ng-select
                [items]="address | async"
                [searchable]="true"
                placeholder = "Steet, PostalCode, Address"
                notFoundText="No results found. Please try a different search criteria."
                bindLabel="fullName"
                [trackByFn]="trackByFn"
                [typeahead]="addressInput$"
                [minTermLength]="minTermLength"
                [loading]="isLoading"
                [(ngModel)]="selectedBranch" (change)="addressChange($event)" clearAllText="Clear">
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <i class="fa fa-map-marker me-2"></i>
                    <span>{{item.street}}, {{item.plz}} {{item.city}}</span>
                </ng-template>
            </ng-select>
            <a class="search-icon">
                <i class="fa fa-search"></i>
            </a>
        </div>
        <div class="text-area" *ngIf="branchList.length === 0">
            <div class="row">
                <i class="fa fa-info-circle col-2"></i>
                <span class="col-10">Allgemeine Informationen in einer Snackbar Notification</span>
            </div>
        </div>
        <div *ngIf="branchList.length > 0">
            <div class="list-count row">
                <span class="heading" [ngClass]="selectedService.length>0 ? 'col-6': 'col-8'">{{branchList.length}} Filialen gefunden</span>
                <span class="col-4 heading text-end cursor-pointer" *ngIf="selectedService.length === 0" (click)="invokeFilter()"><i class="fa fa-filter"></i>Filter</span>
                <span class="col-6 heading text-end cursor-pointer filter-active" *ngIf="selectedService.length > 0" (click)="invokeFilter()"><i class="fa fa-filter"></i>{{selectedService.length}}Filter Active</span>
            </div>
            <div class="list-data" *ngIf="listView">
                <ul #storeDetails *ngFor="let data of branchList; let i = index;" class="branch-list cursor-pointer" (mouseover)="highlightSpecificStore(data, i)" (mouseout)="removeHighlight(data, i)" (click)="takeToSpecificStore(data, i)">
                    <li class="heading">{{data.title}}</li>
                    <li>{{data.street}}</li>
                    <li>{{data.zip}} {{data.state}}</li>
                    <li *ngIf="data.phone">Tel. {{data.phone}}</li>
                    <li>{{data.email | uppercase}}</li>
                    <li class="row mt-2">
                        <img src="../../../../assets/walk.png" class="col-2 walk-icon">
                        <span class="col-4 p-0">{{data.distance}}</span>
                        <span class="col-6 p-0 text-end" [ngClass]="{'text-orange': data.status==='Bald geschlossen', 'text-red': data.status==='Geschlossen', 'text-green': data.status==='Geöffnet'}">{{data.status}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="isOpenFilter && !navigateToDetailPage">
        <div class="row filter-heading">
            <h3 class="col-10">Ergebnisse filtern</h3>
            <i class="fa fa-close col-2 text-end cursor-pointer" (click)="invokeFilter()"></i>
        </div>
            <div class="accordion accordion-flush accordion-filial" id="accordionFilial">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Selbstbedienungsservices
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="accordion-body">
                        <div *ngFor="let service of serviceListOne" class="row service-list">
                            <input #checkboxes type="checkbox" [(ngModel)]="service.isSelected" (change)="selectService(service.id, $event)" class="col-2 cursor-pointer">
                            <label class="col-10">{{service.label}}</label>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Kundenservices
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                      <div class="accordion-body">
                        <div *ngFor="let service2 of serviceListTwo" class="row service-list">
                            <input #checkboxes type="checkbox" [(ngModel)]="service2.isSelected" (change)="selectService(service2.id, $event)" class="col-2">
                            <label class="col-10">{{service2.label}}</label>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        <footer>
            <div class="row">
                <span class="col-6 cursor-pointer" (click)="clearFilters()"><i class="fa fa-close me-2"></i>Filter löschen</span>
                <button class="offset-2 col-4 filialFinder-btn" (click)="applyFilter()">Anzeigen</button>
            </div>
        </footer>
    </div>
    <div *ngIf="navigateToDetailPage">
        <div class="row">
            <img class="col-3" src="../../../../assets/bawag_logo.png">
            <span class="offset-4 col-5 text-end bawag-text">bawag.at
            <a><img src="../../../../assets/navigator.png"></a>
            </span>
        </div>
        <div class="detail-page-nav">
            <span (click)="navigateBack()" class="cursor-pointer"><i class="fa fa-long-arrow-left me-2"></i>Zurück zur Übersicht</span>
        </div>
        <div class="detail-page-buttons">
            <button type="button" class="filialFinder-btn col-12">Termin vereinbaren</button>
            <button type="button" class="filialFinder-btn-1 mt-3 col-12">Navigation</button>
        </div>
        <div class="text-area">
            <div class="row">
                <i class="fa fa-info-circle col-2"></i>
                <span class="col-10">Allgemeine Informationen in einer Snackbar Notification</span>
            </div>
        </div>
        <div class="store-details-parent">
            <ul *ngFor="let storeDetail of selectedStoreDetails; let i = index;" class="selected-store cursor-pointer">
                <li class="heading">{{storeDetail.title}}</li>
                <li>{{storeDetail.street}}</li>
                <li>{{storeDetail.zip}} {{storeDetail.state}}</li>
                <li *ngIf="storeDetail.phone">Tel. {{storeDetail.phone}}</li>
                <li>{{storeDetail.email | uppercase}}</li>
                <li class="row mt-2">
                    <img src="../../../../assets/walk.png" class="col-2 walk-icon">
                    <span class="col-4 p-0">{{storeDetail.distance}}</span>
                    <span class="col-6 p-0 text-end" [ngClass]="{'text-orange': storeDetail.status==='Bald geschlossen', 'text-red': storeDetail.status==='Geschlossen', 'text-green': storeDetail.status==='Geöffnet'}">{{storeDetail.status}}</span>
                </li>
            </ul>
            <div class="store-details">
                <span class="d-block heading">Öffnungszeiten</span>
                <span class="d-block">Mo - Fr: 9:00 - 17:00 Uhr</span>
                <span class="d-block">Kassazeiten: 9:00 - 13:00</span>
            </div>
            <div class="store-details">
                <span class="d-block heading">Kundenservices</span>
                <span class="d-block"><i class="fa fa-check me-2"></i>Wohnbauberatung</span>
                <span class="d-block"><i class="fa fa-check me-2"></i>Businesskonto</span>
            </div>
        </div>
        <footer class="d-block d-sm-none">
        </footer>
    </div>
</div>


