<section>
    <div class="col-sm-3" *ngIf="storeAddress.length !== 0" style="position: absolute; z-index:1;">
        <app-find-branch-list-view [storeAddress]="storeAddress" (filterResultEvent) = "filterResults($event)" (panToLocation)="panToLocation($event)"></app-find-branch-list-view>
    </div>
    <google-map #googleMap [options]="mapOptions" [center]="center" width="100%" height="100vh">
        <map-marker #marker="mapMarker" *ngFor="let mp  of markers" [position]="mp.position" [animation]="mp.animation" [icon]="mp.icon" [options]="mp.options" (mapClick)="openInfoWindow(marker, mp.info)">
        </map-marker>
        <map-info-window [options]="infoOptions"></map-info-window>
    </google-map>
    <!--<button (click)="zoomIn()">+</button>
    <button (click)="zoomOut()">-</button>
    <div *ngIf="apiLoaded | async">
        <google-map></google-map>
    </div>-->
</section>