/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
.cursor-pointer {
    cursor: pointer;
}
.filialFinder-btn {
    background: #990000;
    border-radius: 14px;
    color: #FFFFFF;
    border: unset;
    padding-top: 2px;
    padding-bottom: 2px;
}
